extends layout

block main
  .header-container
    p Set up days and its session for the routine: #{routineName} 
    form(action="/routine-sessions" method="get")
      button(type="submit" class="create-session-btn") Create Sessions

  form(action="/days-sessions-setup/save" method="post")
    input(type="hidden" name="currentPage" value=currentPage)

    if days.length > 0
      dl
        each day in days 
          dt 
            .day-header
              p Day #{day.dayNumber}:
              // Button to remove a specific day
              button(type="submit" class="trash-btn" formaction=`/days-sessions-setup/remove-day/${day.dayNumber}`)
                img(src="/images/icon_delete.png" alt="Remove")
                
          each session, index in day.sessionNames
            dd
              label(for=`day${day.dayNumber}_session${index + 1}_field`) Session Name:
              // Dropdown menu for session names
              select(name=`day${day.dayNumber}_session${index + 1}_field` id=`day${day.dayNumber}_session${index + 1}_field`)
                option(value="") Select a session
                each availableSession in availableSessions
                  option(value=availableSession.name selected=(session === availableSession.name))= availableSession.name

    else
      p No days available. Click "Add a Day" to get started.

    // Button to add a new day
    fieldset.actions
      button(type="submit" class="action-btn" formaction="/days-sessions-setup/add-day") Add a Day

    // Pagination Links
    nav.pagination
      if currentPage > 1
        a(href=`/days-sessions-setup?page=${currentPage - 1}`) Previous
      | Page #{currentPage} of #{totalPages}
      if currentPage < totalPages
        a(href=`/days-sessions-setup?page=${currentPage + 1}`) Next

    // Bottom section for Save, Save & Next, Back, and Discard
    fieldset.actions
      button(type="submit" formaction="/days-sessions-setup/back" class="action-btn") Back
      button(type="submit" name="action" value="Save" class="action-btn") Save
      button(type="submit" name="action" value="Save & Next"  class="action-btn") Save & Next
      button(type="submit" formaction="/days-sessions-setup/discard" class="action-btn") Discard
