extends layout 

block main 
  p Hi there, #{username}!

  if !selectedRoutine
    p
      strong Go to "Routines" to get started

  ul#lists
    if selectedRoutine 
      li (Day:#{dayNumber} Session Name:#{sessionName})
        form(action="/start-workout" method="POST")
          input(type="hidden" name="selectedRoutine" value=selectedRoutine)
          input(type="hidden" name="dayNumber" value=dayNumber)
          input(type="hidden" name="sessionName" value=sessionName)
          button.main-menu(type="submit") Start Workout 
    li
      a(href="/routines-menu") Routines
    li
      a(href="/records-menu") Records
    


block someFooter
  form(action="/users/signout" method="POST")
    fieldset.actions
      button Sign Out